.login {
    margin: 100px 0 0 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1-login {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: cursive;
}

.form-login {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.input-login {
    width: 300px;
    padding: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
    color: #fff;
}

.login-btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: cursive;
    font-weight: 600;
    width: 100px;
    background: #fff;
}

.login-btn:hover {
    background: #ccc;  
}

.login-link {
    font-size: 16px;
    font-family: cursive;
    color: #fff;
}

.login-link-2 {
    font-size: 16px;
    font-family: cursive;
    color: #fff;
    text-decoration: none;
}

.login-link-2:hover {
    color: #ccc;
}