.order-confirmation {
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}

.order-confirmation h2 {
    color: #4CAF50;
    font-size: 30px;
    font-family: cursive;
    font-weight: 600;
}

.order-confirmation p {
    margin: 10px 0;
    font-size: 17px;
    font-family: cursive;
    font-weight: lighter;
    margin-bottom: 50px;
}

.continue-shopping-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 50px;
}

.continue-shopping-button:hover {
    background-color: #45a049;
}
