.signup {
    margin: 70px 0 0 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: cursive;
}

.form-signup {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.input-signup {
    width: 300px;
    padding: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
    color: #fff;
}

.signup-btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: cursive;
    font-weight: 600;
    width: 100px;
    background: #fff;
}

.signup-btn:hover {
    background: #ccc;  
}

p {
    font-size: 16px;
    font-family: cursive;
    color: #fff;
}

a {
    font-size: 16px;
    font-family: cursive;
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}